/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 9, 2017, 9:49:21 AM
    Author     : DELL
*/
body{
    margin: 10px 200px;
    padding-top: 30px; 
    
}
.header{
    background: #67b168;
    
}
h1{
    text-align: center;
    color: yellow;
    font-family: 'Arial';
    font-weight: Bold;
    padding-bottom: 50px;
    
}
ul>li>a{
    font-family: 'Arial';
    font-weight: Bold;
    color: black;
    text-align: center;
    background: #f3f3f3;
}
ul>li>a:hover:not(.active){
     background-color: #dca7a7;
     color:#fff;
}
ul>li> a.active{
    color: #fff;
    background-color: #dca7a7;
}
.container1{
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}


